mixin headerBlock(nav, current, headerClass)
    header.header(class=headerClass)
        .header__inner
            .header__mobile
                a(href="#")
                    img(src="assets/images/icons/menu.png", alt="")
            .header__logo
                a(href="/")
                    img(src="assets/images/logo.png" alt="")
            ul.header__nuv
                each item in nav
                    if item.url === current
                        li.is-active
                            a(href=item.url)= item.name
                    else
                        li
                            a(href=item.url)= item.name
            .header__phone
                a.phone(href="#")
                    img(src="assets/images/icons/phone-icon.png" title="Заказать звонок" alt="")
                a(href="tel:+74992882735")
                    |8 499 288 27 35
        .header__decor


mixin breadCrumbs(navs, className)
    ul.bread-crumbs(class=className)
        each item in navs
            li.bread-crumbs__item
                a(href=item.link)= item.name

mixin slider(image, type, className)
    .slider(class=className)
        .slider__img
            each i in [0,1,2,3]
                .slider__item(style="background-image: url(" + image + ")")
                    if (type == "club")
                        .slider__item-title
                            | <strong>кибер клуб</strong> CyberX<br>
                            | «gaming club» <br>
                            span в&nbsp;иркутске
                    if (type == "index")
                        .slider__item-title
                            | сеть кибер клубов <br>
                            | CyberX - <span>пример <br>
                            | заголовка на&nbsp;баннере</span>
        .slider__pagination
            .pagination
                a(href="").pagination-item.is-active
                a(href="").pagination-item
                a(href="").pagination-item
                a(href="").pagination-item
        .slider__arrow-left
            a(href="#")
                img(src="assets/images/icons/slider-arrow.png" alt="")
        .slider__arrow-right
            a(href="#")
                img(src="assets/images/icons/slider-arrow.png" alt="").rotate180

mixin ciberCommunity(text, text2, text3)
    .about__logo
        img(src="assets/images/about-logo.png" alt="")
    .about__title
        if (text2)
            h2 #{text}<br>#{text2}
        else
            h2 #{text}
        if (text3)
            p #{text3}

mixin socItem(name)
    a(href="#").club__soc-item
        img(src=`assets/images/icons/soc-${name}.png` alt="")
        
